* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;

  min-width: 512px;
}

#app {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  margin: 32px 0;

  min-width: 320px;
  max-width: 712px;
  width: 100%;
  background-color: #ffffff;

  box-shadow: 0 0 4px #a1a1a1;
}
#app > * {
  padding: 16px;
}

.header {
  text-align: center;
}
.header h1 {
  margin-bottom: 8px;
}
.header .msg {
  color: red;
}
.header .msg.clear {
  color: green;
}

.divider {
  width: 100%;
  height: 1px;
  padding: 0 !important;
  background-color: #e9e9e9;
}

.todoStyleOptions {
  text-align: right;
}
.todoStyleOptions > button {
  margin: 4px 0;
  padding: 2px 4px;
  background-color: #e8eeff;
  color: #6094ff;
  border-radius: 2px;
  border: none;

  cursor: pointer;
  min-width: 72px;
}

.todolist {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  flex-wrap: wrap;
}

.todolist.listing-vertical .todo {
  width: 100%;
}
.todolist.listing-grid {
  align-items: flex-start;
}
.todolist.listing-grid .todo {
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% / 3);
}

.todo {
  min-width: 200px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: white;
}
.todo.swap {
  background-color: #f1f1f1;
}
.todo.viberate .title {
  animation: viberate 0.2s infinite ease;
}
.todo > *:nth-child(1) {
  flex: 1;
  cursor: pointer;
}
.todo > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo .title {
  flex: 1;

  word-break: break-word;
}
.todo.completed .title {
  text-decoration: line-through;
  color: #333333;
}

.todo .checkbox {
  /* checkbox image*/
  display: inline-block;
  width: 20px;
  height: 20px;

  border-radius: 100%;
  background-color: #e9e9e9;

  margin-right: 8px;

  transition: 0.3s background-color;
}
.todo.completed .checkbox {
  background-color: #8bd3e6;
}

.todo .nextTitle {
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
}
.todo .options {
  align-self: flex-end;
}
.todo .options > button {
  margin: 4px;
  padding: 2px 4px;
  background-color: #ffefe9;
  color: #ff7f50;
  border-radius: 2px;
  border: none;

  cursor: pointer;
}

#createTodo {
  font-size: 1.1rem;
  width: 100%;
  display: block;

  padding: 8px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;

  outline: none;
}

#createTodo:focus {
  border: 1px solid #ee0000;
}

#trashhole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;

  border: 1px solid #a1a1a1;
  border-radius: 8px;
  color: #666666;
}
#trashhole.active {
  border-color: #bd0000;
  color: #bd0000;
}
#trashhole > * {
  margin: 16px 0;
}
@keyframes viberate {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
